language: ruby
rvm:
 - 2.7.1
dist: trusty

services:
  - postgresql

before_script:
  - psql -c 'create database myapp_development;' -U postgres
  - psql -c 'create database myapp_test;' -U postgres
  - psql -c 'create database myapp_production;' -U postgres

script:
  - bundle exec rake spec
  - bundle exec rake cucumber
